<strong>Olá, {{ name }}</strong>
<p>Inscrição do usuário {{ user }} está confirmada! Confira os dados do meetup abaixo:</p>
<p>
  <strong>Título: </strong> {{ title }} <br />
  <strong>Descrição: </strong> {{ description }} <br />
  <strong>Local: </strong> {{ location }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
</p>
